<header>
  <h1>MatRowKeyboardSelectionDirective</h1>
  <p>MIT @ Douglas Gomes de Souza -  <a href="https://npmjs.com/package/mat-row-keyboard-selection">Install NPM Package</a> - <a href="https://github.com/douglasgsouza/mat-row-keyboard-selection">Source Code</a>
  </p>
  <hr>
  <div>
    <h2>&lt;table mat-table&gt;</h2>
    <h4>matRowKeyboardSelection (default options)</h4>
    <pre>Selected: {{selection1.selected | json}}</pre>
  </div>
  <div>
    <h2>&lt;mat-table&gt;</h2>
    <h4>matRowKeyboardSelection (default options)</h4>
    <pre>Selected: {{selection2.selected | json}}</pre>
  </div>
  <div>
    <h2>&lt;table mat-table&gt;</h2>
    <h4>matRowKeyboardSelection [selectOnFocus]="true"</h4>
    <pre>Selected: {{selection3.selected | json}}</pre>
  </div>
  <div>
    <h2>&lt;mat-table&gt;</h2>
    <h4>matRowKeyboardSelection [selectOnFocus]="true" [deselectOnBlur]="true"</h4>
    <pre>Selected: {{selection4.selected | json}}</pre>
  </div>
  <div>
    <h2>&lt;table mat-table&gt;</h2>
    <h4>matRowKeyboardSelection [selectOnFocus]="true" [toggleOnEnter]="false"</h4>
    <pre>Selected: {{selection5.selected | json}}</pre>
  </div>
</header>

<section class="tables">
  <div>
    <table mat-table [dataSource]="dataSource1">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>Selected</th>
        <td mat-cell *matCellDef="let item">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection1.toggle(item) : null"
                        [checked]="selection1.isSelected(item)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item">{{item.name}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsA"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsA;" [matRowKeyboardSelection]="selection1" [rowModel]="row" (click)="selection1.toggle(row)" [ngClass]="{selected: selection1.isSelected(row)}"></tr>
    </table>
  </div>

  <div>
    <mat-table [dataSource]="dataSource2">

      <ng-container matColumnDef="select">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Selected</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let item">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection2.toggle(item) : null"
                        [checked]="selection2.isSelected(item)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsA"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsA;" [matRowKeyboardSelection]="selection2" [rowModel]="row" (click)="selection2.toggle(row)" [ngClass]="{selected: selection2.isSelected(row)}"></mat-row>
    </mat-table>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource3">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item">{{item.name}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsB"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsB;" [matRowKeyboardSelection]="selection3" [rowModel]="row" [selectOnFocus]="true" [ngClass]="{selected: selection3.isSelected(row)}"></tr>
    </table>
  </div>

  <div>
    <mat-table [dataSource]="dataSource4">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsB"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsB;" [matRowKeyboardSelection]="selection4" [rowModel]="row" [selectOnFocus]="true" [deselectOnBlur]="true"  [ngClass]="{selected: selection4.isSelected(row)}"></mat-row>
    </mat-table>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource5">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item">{{item.name}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsB"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsB;" [matRowKeyboardSelection]="selection5" [rowModel]="row" [selectOnFocus]="true" [toggleOnEnter]="false" [ngClass]="{selected: selection5.isSelected(row)}"></tr>
    </table>
  </div>
</section>
